@model WidgetModel
<div class="col-lg-3 col-6">
    <!-- small box -->

    <div class="small-box @Model.WidgetColor">
        <div class="inner">
            <h3>@Model.Value</h3>

            <p>@Model.Title</p>
        </div>
        <div class="icon">
            <i class="ion @Model.Icon"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
